@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://unpkg.com/open-props');
@import url('https://unpkg.com/open-props/normalize.min.css');

:root{
  --lightgray: #F7F7F7;
  --darkblue: #032444;
  --milktea:#bb966e;
  --bg:#fff8ef
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}


body {
  background-color: var(--bg);
  position: relative;
  max-height: 100vh;
  width: 100%;
  height: 100%;
  overflow:auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family:AmberlySans-Regular;
  z-index: 1;
}

body > div {
  position: relative;
  z-index: 1;
}

.flexbox{
    display: flex;
}

.columnflex{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#btn{
    cursor: pointer;
}

.font--bold{
    font-weight: bolder;
}

.font--largrsize{
    font-size: 18px;
}

.title{
  font-size: xxx-large;
  color:var(--milktea);
  font-weight:bold;
}

/* sidbar */

.sidebar {
  position:fixed;
  top:0;
  left:0;
  height: 100%;
  width:70px;
  background-color: var(--milktea);
  padding:6px 14px;
  transition: all 0.5s ease;
  z-index: 2;
  box-shadow: #11101d 0px 0px 5px 0px;
  border-color: #11101d;
}

.sidebar.active{
  width:250px;
  height: 100%;
}

.sidebar .logo_content .logo {
  position: relative;
  color: #fff;
  display: flex;
  height: 60px;
  width: 100%;
  align-items: center;
  transition: all 0.5s ease;
}

.logo_content .logo i {
  font-size: 28px;
  margin-right: 5px;
}

.logo_content .logo .logo_name {
  font-size: 20px;
  font-weight: 400;
}

.sidebar .logo_name {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: none;
}

.sidebar.active .logo_name {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 1s;
}

.sidebar #btn {
  color: #fff;
  position:absolute;
  left: 50%;
  top:6px;
  font-size: 20px;
  height:50px;
  width:50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
  transition: all 0.5s ease;
}

.sidebar.active #btn{
  transform: rotate(181deg);
  left: 80%;
}

.sidebar ul {
  margin-top: 20px;
}

.sidebar ul li {
  position: relative;
  list-style: none;
  height:50px;
  width:100%;
  margin: 0 0px;
  line-height: 50px;
}

/* sidebar toolkits */
.sidebar ul li .tooltip{
  position: absolute;
  left:122px;
  top:10%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 6px;
  height:35px;
  width:122px;
  background: #fff;
  line-height: 35px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  transition:all 0.4s ease;
  opacity: 0;
  pointer-events: none;
  z-index: 3000 !important;
  color: #1d1b31;
}

.sidebar.active ul li .tooltip {
  display:none;
}

.sidebar ul li:hover .tooltip{
  transition: all 0.4s ease;
  opacity: 1;
  top:50%;
  z-index: 3;
}

.sidebar .nav_list li a {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  border-radius: 6px;
  height:100%;
  white-space: nowrap;
}

.sidebar .nav_list li a:hover {
  color: #1b1e2e;
  background: #fff;
  padding: 5px;
}

.sidebar .nav_list li i {
  height:50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
  padding-right: 10px;
}

.sidebar .links_name{
  opacity: 0;
  pointer-events: none;
  transition: all 0.1s ease;
}

.sidebar.active .links_name {
  opacity: 1;
  pointer-events: auto;
}

/* side bar contact list */
.contact_list {
  position: absolute;
  padding-right: 10px;
  bottom: 0;
  padding-inline-start: 0%;
  list-style-type: none;
  transform:scale(0.9);
  transition: all 0.4s ease;
}

.contact_list li i {
  line-height: 29px;
}

.contact_list li a:hover {
  color: #1b1e2e;
  background: #fff;
}

.contact_list li a {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #fff; 
  text-align: center;
  overflow: hidden;
  position: relative;
  display:block;
  line-height: 10px;
  transition: all 0.4s ease;
  z-index: 1;
  left:6px;
}

.sidebar.active .contact_list {
  display: flex;
  color: #fff; 
  text-align: center;
  overflow: hidden;
  position:absolute;
  line-height: 0px;
  transition: all 0.4s ease;
  transform:scale(1.1);
  z-index: 1;
}

.sidebar.active .contact_list li a:hover {
  color: #11101d;
  background: #fff;
}

.sidebar.active .contact_list li {
  padding-left:10px;
}

/* home_content */
.home_content {
  display: flex;
  flex-direction: column;
  height: auto;
  width: calc(100% - 70px);
  left:70px;
  transition: all 0.4s ease;
  z-index: 1;
  overflow-x: hidden;
}

.sidebar.active ~ .home_content {
  left:250px;
  width: calc(100% - 240px);
}

.home_content .text {
  font-size: 25px;
  font-weight: 500;
  color: #1d1b31;
  margin:12px;
}

/* top */
.top {
  display: flex;
  width: 100%;
  height: 100%;
}

.lftimg, .rgtimg {
  flex:1;
  justify-self: center;
  align-items: center;
  overflow-x: hidden;
  position: relative;
  height: auto;
  width: 100%;
}

/* contact */
.info {
  display:flex;
  flex-flow:column nowrap;
  max-width: 50%;
  justify-content: center;
  align-items: center;
  left:25%;
  position: relative;
  gap:2vw;

}

.contact {
  background-color: var(--bg);
  box-shadow: none;
  height: fit-content;
}
/*  */

.contact_text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact_text .text{
  @media screen and (max-width: 380px){
    font-size: 15px;
  }
  @media screen and (min-width: 380px) and (max-width: 600px) {
    font-size: 20px;
  }
}

.inputbox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
}

.name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: relative;
  height: 55px;
  @media screen and (max-width: 600px) {
    width: 267px;
  }
}
.input {
  background-color: var(--lightgray);
  /* border:none; */
  border-radius: 5px;
  box-shadow: #11101d 0px 0px 2px 0px;
  color: #032444;
  line-height: 25px;
  padding:.8em 1.5em;
  outline: none;
  transition: border-color 0.3s, background-color 0.3s, box-shadow 0.3s, font-weight 0.3s; /* 添加过渡效果 */
}

.input:focus {
  box-shadow: 0 0 2px var(--milktea);
  border-color: var(--milktea);
  background-color: rgb(255, 243, 224) ;
  border-width: 1px !important; /* 加粗边框 */
}

.subject_input {
  width: 523.85px;
}

.message_input {
  position: relative;
  width: 523.85px;
  height: 200px;
}

.input-name, .input-email {
  width: 255px;
  @media screen and (max-width: 600px) {
    width: 126px;
  }
}

.subject_input, .message_input {
  resize: none;
  @media screen and (max-width: 600px) {
    width: 267px;
  }
}

.input::placeholder {
  color: var(--milktea);
}

.info .btn {
  box-shadow: #11101d 0px 0px 1px 0px;
  display: flex;
  position: relative;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 20px;
  padding: 20px 0px;
  height: 5px;
  width: 180px;
  overflow: hidden;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
  bottom: 10px;
  font-family: AmberlySans-Regular;
  @media screen and (max-width: 600px) {
    bottom:5px;
  }
  @media screen and (min-width: 600px) and (max-width: 800px) {
    bottom:8px;
  }
}

.info .btn.btn-primary{
  transition: all 0.2s linear 0s;
  background-color: var(--milktea);
  color:var(--lightgray);
  &:before {
    content: "\f178";
    font-family: FontAwesome;
    font-size: 15px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    opacity: 0;
    height: 100%;
    width: 40px;
    transition: all 0.2s linear 0s;
    text-align: center;
  }
  
  &:hover {
    text-indent: -20px;
    background-color: #937871;
    &:before {
      opacity: 1;
      text-indent: 0px;
    }
  }
  
}

.custom-position {
  @media screen and (max-width: 600px) {
    position: relative;
    left: 10%;
    width:80%;
    height: 80%;
    font-size: small;
  }
}

/* intro */
.intro {
  position: relative; /* 让伪元素相对于该元素定位 */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* 添加透明度，使背景颜色变暗 */
  background-blend-mode: multiply; /* 调整背景与背景颜色的混合模式 */
  width: 100%;
  height: 100vh;
}

.intro::before {
  content: ""; /* 添加伪元素 */
  position: absolute; /* 绝对定位，覆盖在元素上方 */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('./images/us.jpg'); /* 背景图片路径 */
  filter: blur(5px); /* 添加5像素的模糊效果 */
  background-size: cover; /* 使背景图像覆盖整个容器 */
  background-position: center; /* 将背景图像置于容器中心 */
  z-index: -1; /* 将伪元素放置在元素的下方 */
}

.intro .intro_texts {
  display: flex;
  flex-direction: column;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  z-index: 1; /* 确保内容在上方显示 */
}

.intro .title {
  top: 2px;
  color:#fff;
  font-family:AmberlySans-Regular;
  font-size: 50px;
  font-weight: 600;
}

.intro .intro_text {
  font-size: 25px;
  font-weight: 500;
  color:#fff;
  margin: 20px;
  font-family: AmberlySans-Regular;
  @media screen and (max-width: 380px){
    font-size: 15px;
  }
  @media screen and (min-width: 380px) and (max-width: 600px) {
    font-size: 20px;
  }
}

.intro .btn {
  display: flex;
  position: relative;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 20px;
  padding: 20px 0px;
  height: 10px;
  width: 180px;
  overflow: hidden;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
  bottom: 10px;
  font-family: AmberlySans-Regular;
}

.intro .btn.btn-primary{
  transition: all 0.2s linear 0s;
  top:10px;
  background-color: var(--milktea);
  color:var(--lightgray);
  &:before {
    content: "\f178";
    font-family: FontAwesome;
    font-size: 15px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    opacity: 0;
    height: 100%;
    width: 40px;
    transition: all 0.2s linear 0s;
    text-align: center;
  }
  
  &:hover {
    text-indent: -20px;
    background-color: #937871;
    &:before {
      opacity: 1;
      text-indent: 0px;
    }
  }
}

/* footer */
footer {
  background-color: var(--bg);
  color: #333;
  border: 20px;
  padding: 20px 0;
  padding-left: 20px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  transition: all 0.5s ease;
  box-shadow: #11101d 0px 0px 2px 0px;
  border-color: #11101d;
  width:100%;
  /* min-height: 100vh; */
}

.cpr {
  font-size: 15px;
}


.sidebar.active ~ footer {
  width: calc(100% - 240px);
  left:240px;
}


/* milk tea menu */
.mkt-menu{
  background-color: #fef7ee;
  height: fit-content;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mkt-menu .menu{
  max-width: 1300px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  height: 550px;
  @media screen and (max-width: 380px) {
    width: 267px;
  }

  @media screen and (min-width: 380px) and (max-width: 600px) {
    width: 380px;
  }

  @media screen and (min-width: 600px) and (max-width: 1100px) {
    width: 600px;
  }

  @media screen and (min-width: 1100px) and (max-width: 1380px) {
    width: 1026px;
  }
}

.figcaption {
  display: block;
  position: relative;
  text-align: center;
  justify-content: center;
  top: -177px;
  color: #11101d;
  font-size: x-large;
  text-shadow: 0 0 1px white;
  font-weight:bold;
  z-index: 1;
  width:150%;
  opacity: 1; /* 初始状态为不可见 */
  transition: opacity 0.5s; /* 过渡效果 */
}

.fade-out {
  opacity: 0; /* 淡出 */
}

.fade-in {
  opacity: 1; /* 淡入 */
}


.mkt-box {
  position: relative;
  height: 500px;
  width: 500px;
  min-height: 500px;
  min-width: 500px;
}

.mkt{
  height: 150px;
  width: 260px;
  min-height: 190px;
  min-width: 200px;
  transition: min-width 1s, min-height 1s;

}

.bigger-mkt{
  min-height: 300px;
  min-width: 300px;
  transition: min-width 1s, min-height 1s;

}

.slider-container{
  display: flex;
  position: relative;
  left: -107px;
  align-items: center;

  @media screen and (max-width: 380px) {
    left: -630px;
  }

  @media screen and (min-width: 380px) and (max-width: 450px) {
    left: -570px;
  }

  @media screen and (min-width: 450px) and (max-width: 600px) {
    left: -570px;
  }

  @media screen and (min-width: 600px) and (max-width: 1100px) {
    left: -460px;
  }

  @media screen and (min-width: 1100px) and (max-width: 1380px) {
    left: -248px;
  }
}

.slider-button{
  position: relative;
  .left-button, .right-button{
    height:24px;
  }
  color: #d2d2d2;
  top: 30%;
  left: calc(50% - 125px);
  z-index: 1;

  .left-button{
    margin-right: 180px;

  }
  transition: all 0.6s ease;
}

.menu:hover {
  .slider-button{
    color:#032444;
  }
  .left-button, .right-button{
    height:24px;
    box-shadow: var(--bg) 0px 0px 2px 0px;
  }
}

.material-symbols-outlined {
  background-color:var(--bg);
}



.mkt-menu .menu-btn {
  display: flex;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 20px;
  padding: 20px 0px;
  height: 10px;
  width: 180px;
  overflow: hidden;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: AmberlySans-Regular;
}

.mkt-menu .menu-btn {
  transition: all 0.2s linear 0s;
  background-color: var(--milktea);
  color:var(--lightgray);
  box-shadow: #11101d 0px 0px 1px 0px;
  &:before {
    content: "\f178";
    font-family: FontAwesome;
    font-size: 15px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    opacity: 0;
    height: 100%;
    width: 40px;
    transition: all 0.2s linear 0s;
    text-align: center;
  }
  
  &:hover {
    text-indent: -20px;
    background-color: #937871;
    &:before {
      opacity: 1;
      text-indent: 0px;
    }
  }
}

.menu-btn {
  position: relative;
  /* top: 18%; */
  /* left:560px; */
  bottom: 100px;
  /* @media screen and (max-width: 380px) {
    left: 50px;
  }

  @media screen and (min-width: 380px) and (max-width: 600px) {
    left: 100px;
  }

  @media screen and (min-width: 600px) and (max-width: 1100px) {
    left: 210px;
  }

  @media screen and (min-width: 1100px) and (max-width: 1380px) {
    left: 421px;
  } */
}

.menu-text-box {
  display: flex;
  align-items: center;
  justify-self: center;
}

.mkt-menu .menu-text {
  position: relative;
  font-size: 25px;
  font-weight: 500;
  color:#1d1b31;
  margin: 20px;
  font-family: AmberlySans-Regular;
  /* max-width: 80%;
  left: 5%; */
  bottom: 65px;
  @media screen and (max-width: 380px){
    font-size: 15px;
  }
  @media screen and (min-width: 380px) and (max-width: 600px) {
    font-size: 20px;
  }
}

#shareButton {
  color:#fff;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* background-color: rgba(0, 0, 0, 0.4); */
  translate: all 0.5s ease;
}

.modal-content {
  background-color: var(--milktea);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 66%;
  max-width: 600px;
  border-radius: 10px;
  color: var(--lightgray);
  position: absolute;
  left:31%;

  @media screen and (max-width: 380px) {
    width: 250px;
    left:25%;
  }
  @media screen and (min-width: 380px) and (max-width: 600px) {
    width: 66%;
    left:25%;
  }
  @media screen and (min-width: 600px) and (max-width: 1100px) {
    width: 66%;
    left:25%;
  }
}

h2 {
  position:relative;
  bottom: 60px;
}

.modal-content ul {
  position: relative;
  bottom:30px;
}

a:link, a:visited {
  color: var(--lightgray);
  text-decoration: none;
}

a:hover {
  color:var(--bg);
  text-decoration: underline;
}

a:active {
  color: var(--darkblue);
}

.close {
  /* color: #aaa; */
  left: 95%;
  font-size: 45px;
  font-weight: bold;
  position: relative;
  z-index: 100;
}

.close:hover,
.close:focus {
  font-weight: bold;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal ul {
  list-style-type: none;
  padding: 0;
}

.modal ul li {
  margin: 10px 0;
}