@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://unpkg.com/open-props');
@import url('https://unpkg.com/open-props/normalize.min.css');

:root{
  --lightgray: #F7F7F7;
  --darkblue: #032444;
  --milktea:#bb966e;
  --bg:#fff8ef
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  position: absolute;
  max-height: 100vh;
  width: 100%;
  height: auto;
  overflow:auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  z-index: 0;
}

body > div {
  position: relative;
  z-index: 1;
}

.flexbox{
    display: flex;
}

.columnflex{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#btn{
    cursor: pointer;
}

.font--bold{
    font-weight: bolder;
}

.font--largrsize{
    font-size: 18px;
}

.title{
  color:var(--milktea);
  font-weight:bold;
  top:10%
}

/* sidbar */

.sidebar {
  position:fixed;
  top:0;
  left:0;
  height: 100%;
  width:70px;
  background-color: var(--milktea);
  padding:6px 14px;
  transition: all 0.5s ease;
  z-index: 2;
  box-shadow: #11101d 0px 0px 5px 0px;
  border-color: #11101d;
}

.sidebar.active{
  width:250px;
  position: fixed;
  height: 100%;
}

.sidebar .logo_content .logo {
  position: relative;
  color: #fff;
  display: flex;
  height: 60px;
  width: 100%;
  align-items: center;
  transition: all 0.5s ease;
  
}

.logo_content .logo i {
  font-size: 28px;
  margin-right: 5px;
}

.logo_content .logo .logo_name {
  font-size: 20px;
  font-weight: 400;
}

.sidebar #btn {
  color: #fff;
  position:absolute;
  left: 50%;
  top:6px;
  font-size: 20px;
  height:50px;
  width:50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
}

.sidebar.active #btn{
  left: 90%;
}

.sidebar ul {
  margin-top: 20px;
}

.sidebar ul li {
  position: relative;
  list-style: none;
  height:50px;
  width:100%;
  margin: 0 0px;
  line-height: 50px;
}

/* sidebar toolkits */
.sidebar ul li .tooltip{
  position: absolute;
  left:122px;
  top:10%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 6px;
  height:35px;
  width:122px;
  background: #fff;
  line-height: 35px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  transition:all 0.4s ease;
  opacity: 0;
  pointer-events: none;
  z-index: 3000 !important;
  color: #1d1b31;
}

.sidebar.active ul li .tooltip {
  display:none;
}

.sidebar ul li:hover .tooltip{
  transition: all 0.5s ease;
  opacity: 1;
  top:50%;
  z-index: 3;
}

.sidebar .nav_list li a {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  border-radius: 6px;
  height:100%;
  white-space: nowrap;
}

.sidebar .nav_list li a:hover {
  color: #1b1e2e;
  background: #fff;
  padding: 5px;
}

.sidebar .nav_list li i {
  height:50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
  padding-right: 10px;
}

.sidebar .links_name{
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.sidebar.active .links_name {
  opacity: 1;
  pointer-events: auto;
}

.sidebar .logo_name {
  opacity: 0;
  pointer-events: none;
}

.sidebar.active .logo_name {
  opacity: 1;
  pointer-events: auto;
}

/* side bar contact list */
.contact_list {
  position: absolute;
  bottom: 0;
  padding-inline-start: 0%;
  list-style-type: none;
  transform:scale(0.9);
  transition: all 0.4s ease;
}

.contact_list li i {
  line-height: 29px;
  border-radius: 12px;
  text-align: center;
}

.contact_list li a:hover {
  color: #1b1e2e;
  background: #fff;
  /* padding-left:12px; */
}

.contact_list li a {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #fff; 
  text-align: center;
  overflow: hidden;
  position: relative;
  display:block;
  line-height: 0px;
  transition: all 0.4s ease;
  z-index: 1;
}

.sidebar.active .contact_list {
  display: flex;
  color: #fff; 
  text-align: center;
  overflow: hidden;
  position:absolute;
  line-height: 0px;
  transition: all 0.4s ease;
  transform:scale(1.1);
  z-index: 1;
}

.sidebar.active .contact_list li a:hover {
  color: #11101d;
  background: #fff;
}

.sidebar.active .contact_list li {
  padding-left:10px;
}

/* home_content */
.home_content {
  height: 100%;
  width: 93%;
  left:70px;
  top: 0;
  bottom: 0;
  transition: all 0.5s ease;
  z-index: 1;
}

.sidebar.active ~ .home_content {
  left:250px;
  width: calc(100% - 240px);
}

.home_content .text {
  font-size: 25px;
  font-weight: 500;
  color: #1d1b31;
  margin:12px;
}

/* top */
.top {
  display: flex;
  width: 100%;
  height: 100%;
}

.lftimg, .rgtimg {
  flex:1;
  justify-self: center;
  align-items: center;
  overflow-x: hidden;
  position: relative;
  height: auto;
  width: 100%;
}

/* contact */
.contact_text {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
  height: 55px;
}

.info {
  display:flex;
  flex-flow:column nowrap;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 50%;
}

.input {
  background-color: #937871;
  border:none;
  border-radius: 20px;
  color: #fff;
  line-height: 25px;
  padding:.8em 1.5em;
}

.subject_input {
  width: 100%;
}

.input::placeholder {
  color: white;
}

/* footer */
footer {
  background-color: var(--bg);
  color: #333;
  padding: 20px 0;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  transition: all 0.5s ease;
  box-shadow: #11101d 0px 0px 2px 0px;
  border-color: #11101d;
}

.sidebar.active ~ footer {
  width: calc(100% - 240px);
  left:240px;
}