@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://unpkg.com/open-props');
@import url('https://unpkg.com/open-props/normalize.min.css');

:root{
  --lightgray: #F7F7F7;
  --darkblue: #032444;
  --milktea:#bb966e;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  background-color: #eeeeee;
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow:hidden;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  z-index: 0;
}

.flexbox{
    display: flex;
}

.columnflex{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#btn{
    cursor: pointer;
}

.font--bold{
    font-weight: bolder;
}

.font--largrsize{
    font-size: 18px;
}

/* sidebar > 912px */
@media screen and (min-width: 912px) {

  .sidebar {
    height:100%;
    position:fixed;
    top:0;
    left:0;
    height: 100%;
    width:70px;
    background-color: var(--milktea);
    padding:6px 14px;
    transition: all 0.5s ease;
  }

  .sidebar.active{
    width:250px;
    position: fixed;
  }

  .sidebar .logo_content .logo {
    position: relative;
    color: #fff;
    display: flex;
    height: 60px;
    width: 100%;
    align-items: center;
    transition: all 0.5s ease;
    
  }

  .logo_content .logo i {
    font-size: 28px;
    margin-right: 5px;
  }

  .logo_content .logo .logo_name {
    font-size: 20px;
    font-weight: 400;
  }

  .sidebar #btn {
    color: #fff;
    position:absolute;
    left: 50%;
    top:6px;
    font-size: 20px;
    height:50px;
    width:50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
  }

  .sidebar.active #btn{
    left: 90%;
  }

  .sidebar ul {
    margin-top: 20px;
  }
  
  .sidebar ul li {
    position: relative;
    list-style: none;
    height:50px;
    width:100%;
    margin: 0 0px;
    line-height: 50px;
  }

  .sidebar ul li .tooltip{
    position: absolute;
    left:122px;
    top:10%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 6px;
    height:35px;
    width:122px;
    background: #fff;
    line-height: 35px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    transition:all 0.4s ease;
    opacity: 0;
    pointer-events: none;
    z-index: 3000 !important;
    color: #1d1b31;
  }

  .sidebar.active ul li .tooltip {
    display:none;
  }

  .sidebar ul li:hover .tooltip{
    transition: all 0.5s ease;
    opacity: 1;
    top:50%;
    z-index: 3;
  }

  .sidebar .nav_list li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 6px;
    height:100%;
    white-space: nowrap;
  }

  .sidebar .nav_list li a:hover {
    color: #1b1e2e;
    background: #fff;
    padding: 5px;
  }

  .sidebar .nav_list li i {
    height:50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
    padding-right: 10px;
  }

  .sidebar .links_name{
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
  }

  .sidebar.active .links_name {
    opacity: 1;
    pointer-events: auto;
  }

  .sidebar .logo_name {
    opacity: 0;
    pointer-events: none;
  }

  .sidebar.active .logo_name {
    opacity: 1;
    pointer-events: auto;
  }

  /* contact list */

  .contact_list {
    position: absolute;
    bottom: 0;
    padding-inline-start: 0%;
    list-style-type: none;
    transform:scale(0.9);
    transition: all 0.4s ease;
  }

  .contact_list li i {
    line-height: 29px;
    border-radius: 12px;
    text-align: center;
  }

  .contact_list li a:hover {
    color: #1b1e2e;
    background: #fff;
    /* padding-left:12px; */
  }

  .contact_list li a {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #fff; 
    text-align: center;
    overflow: hidden;
    position: relative;
    display:block;
    line-height: 0px;
    transition: all 0.4s ease;
    z-index: 1;
  }

  .sidebar.active .contact_list {
    display: flex;
    color: #fff; 
    text-align: center;
    overflow: hidden;
    position:fixed;
    line-height: 0px;
    transition: all 0.4s ease;
    transform:scale(1.1);
    z-index: 1;
  }

  .sidebar.active .contact_list li a:hover {
    color: #11101d;
    background: #fff;
  }

  .sidebar.active .contact_list li {
    padding-left:10px;
  }

  .home_content > div {
    transition: opacity 0.3s ease; /* Smooth transition */
  }

  .home_content > div.ac {
    opacity: 1;
  }
}

@media (min-width:800px) and (max-width:912px) {
  .nav_list {
    padding-inline-start: 0%;
    list-style-type: none;
  }

  .sidebar {
    height:100%;
    position:fixed;
    top:0;
    left:0;
    width:25%;
    background-color: var(--milktea);
    padding:6px 14px;
    transition: all 0.5s ease;
  }

  .sidebar .logo_content .logo {
    position: relative;
    color: #fff;
    display: flex;
    height: 60px;
    width: 100%;
    align-items: center;
    transition: all 0.5s ease;

  }

  .logo_content .logo i {
    font-size: 28px;
    margin-right: 5px;
  }

  .logo_content .logo .logo_name {
    font-size: 20px;
    font-weight: 400;
    opacity: 1;
    pointer-events: auto;
    position: absolute;
    left:10%;
  }

  .sidebar #btn {
    display: none;
    color: #fff;
    position:absolute;
    left: 50%;
    top:6px;
    font-size: 20px;
    height:50px;
    width:50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
    
  }

  .sidebar.active #btn{
    left: 90%;
  }

  .sidebar ul {
    margin-top: 20px;
  }
  
  .sidebar ul li {
    position: relative;
    list-style: none;
    height:50px;
    width:100%;
    margin: 0 5px;
    line-height: 50px;
  }

  .sidebar ul li .tooltip{
    position: absolute;
    left:122px;
    top:10%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 6px;
    height:35px;
    width:122px;
    background: #fff;
    line-height: 35px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    transition:all 0.4s ease;
    opacity: 0;
    pointer-events: none;
    z-index: 3000 !important;
    color: #1d1b31;
  }

  .sidebar .nav_list li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 6px;
    height:100%;
    white-space: nowrap;
  }

  .sidebar .nav_list li a:hover {
    color: #1b1e2e;
    background: #fff;
    padding: 5px;
  }

  .sidebar .nav_list li i {
    height:50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
    padding-right: 10px;
  }

  .sidebar .logo_name {
    opacity: 0;
    pointer-events: none;
  }

  /* contact list */

  .contact_list {
    display: flex;
    color: #fff; 
    text-align: center;
    overflow: hidden;
    position:absolute;
    line-height: 0px;
    transition: all 0.4s ease;
    transform:scale(1.1);
    bottom: 0;
    z-index: 1;
  }

  .contact_list li i {
    line-height: 29px;
    border-radius: 12px;
    text-align: center;
  }

  .contact_list li a:hover {
    color: #1b1e2e;
    background: #fff;
    /* padding-left:12px; */
  }

  .contact_list li a {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #fff; 
    text-align: center;
    overflow: hidden;
    position: relative;
    display:block;
    line-height: 0px;
    transition: all 0.4s ease;
    z-index: 1;
  }

  .sidebar.active .contact_list li a:hover {
    color: #11101d;
    background: #fff;
  }

  .sidebar.active .contact_list li {
    padding-left:10px;
  }

  .home_content > div {
    transition: opacity 0.3s ease; /* Smooth transition */

  }


}

/* sidebar < 800px */
@media screen and (max-width: 800px) {
  .nav_list {
    padding-inline-start: 0%;
    list-style-type: none;
  }

  .sidebar {
    height:100%;
    position:fixed;
    top:0;
    left:0;
    width:70px;
    background-color: var(--milktea);
    padding:6px 14px;
    transition: all 0.5s ease;
  }

  .sidebar .logo_content .logo {
    position: relative;
    color: #fff;
    display: none;
    height: 50px;
    width: 100%;
    align-items: center;
    transition: all 0.5s ease;

  }

  .logo_content .logo i {
    font-size: 28px;
    margin-right: 5px;
  }

  .logo_content .logo .logo_name {
    font-size: 20px;
    font-weight: 400;
  }

  .sidebar #btn {
    color: #fff;
    position:absolute;
    left: 50%;
    top:6px;
    font-size: 20px;
    height:50px;
    width:50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
  }

  .sidebar ul {
    margin-top: 20px; 
  }
  
  .sidebar ul li {
    position: relative;
    list-style: none;
    height:50px;
    width:100%;
    margin: 0 5px;
    position:relative;
    line-height: 50px;
    align-items: center;
  }

  .sidebar ul li .tooltip{
    position: absolute;
    left:122px;
    top:10%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 6px;
    height:35px;
    width:122px;
    background: #fff;
    line-height: 35px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    transition:all 0.4s ease;
    opacity: 0;
    pointer-events: none;
    z-index: 3000 !important;
    color: #1d1b31;
  }

  .sidebar ul li:hover .tooltip{
    transition: all 0.5s ease;
    opacity: 1;
    top:50%;
    z-index: 3;
  }

  .sidebar .nav_list li a {
    position: relative;
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 6px;
    height:100%;
    white-space: nowrap;
  }

  .sidebar .nav_list li a:hover {
    color: #1b1e2e;
  }

  .sidebar .nav_list li i {
    height:50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
    padding-right: 10px;
  }

  .sidebar .links_name{
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
  }

  .sidebar .logo_name {
    opacity: 0;
    pointer-events: none;
  }

  .contact_list {
    position: absolute;
    bottom: 0;
    padding-inline-start: 0%;
    list-style-type: none;
  }

  .contact_list li i {
    line-height: 29px;
    border-radius: 12px;
    text-align: center;
  }

  .contact_list li a:hover {
    color: #1b1e2e;
    background: #fff;
  }

  .contact_list li a {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #fff; 
    text-align: center;
    overflow: hidden;
    position: relative;
    display:block;
    line-height: 0px;
    z-index: 1;
  }

  .home_content > div.ac {
    opacity: 1;
  }
}

.title{
  color:var(--milktea);
  font-weight:bold;
  top:10%
}

.sidebar.active ~ .home_content {
  width: calc(100% - 240px);
  left:25%;
}

.home_content {
  position: absolute;
  height: 100%;
  width: 80%;
  left:10%;
  transition: all 0.5s ease;
  z-index: 0;
}

.home_content .text {
  font-size: 25px;
  font-weight: 500;
  color: #1d1b31;
  margin:12px;
}

/* slideshow */
.slidershow {
  width:  calc(100% - 50px);
  height: calc(100% - 50px);
  overflow: hidden;
  position: absolute;
}

.navigation {
  position: absolute;
  bottom: 20px;
  left: 60%;
  transform: translateX(-50%);
  display: flex;
}

.bar{
  width: 50px;
  height: 12px;
  border: 2px solid #1b1e2e;
  margin: 6px;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 20px;
}

.bar:hover{
  background: #032444;
}

input[name="r"]{
  position: absolute;
  visibility: hidden;
}

.slides {
  width: 500%;
  height: 100%;
  display: flex;
  overflow-y: auto;
}

.slide {
  width: 20%;
  transition: 0.6s;
}

.slide img {
  width: 100%;
  height: 95%;
}

#r1:checked ~ .s1 {
  margin-left: 0;
}

#r2:checked ~ .s1 {
  margin-left: -20%;
}

#r3:checked ~ .s1 {
  margin-left: -40%;
}

/* #r4:checked ~ .s1 {
  margin-left: -60%;
}

#r5:checked ~ .s1 {
  margin-left: -80%;
}

#r6:checked ~ .s1 {
  margin-left: -100%;
} */


/* header

.workspaceheader--container{
  width: 100%;
  height: 50px;
  background-color: white;
  justify-content: space-between;
  padding-left: 18px;
  padding-right: 18px;
  box-shadow: 3px 3px 3px lightgray;



}

.searchbar--container{
  height: inherit;
  width: 40%;
  flex-direction: column;
  justify-content:center;
}

.searchbar--container>*{
  margin: 0;
}

.seachbar{
  max-width: 400px;
  padding: 4px;
  padding-left: 18px;
  box-shadow: none;
  border: solid 1px var(--lightgray);
  background: #FBFBFB;
}

.settingbar--container>*+*{
  margin-left: 16px;
}

.profilepic{
  height: 44px;
  width: 44px;
  border: solid 1px lightgray;
  border-radius: 50%;

}

.fa-moon, .fa-cog, .fa-bell{
  font-size: large;
}

.font--headerrole{
  font-size: small;

}

.headerName{
  margin-left: 22px;
}

.headerrole--container{
  flex-direction: row-reverse;
  justify-content: center;
}

.headerrole--container>*{
  margin: 0 !important;
  color: black;
}

.content-container{

  max-height: 100%;
  padding: 20px;
 
  width: 100%;
  overflow-y: scroll !important;

}

.content-container>*{
  z-index: 0;
} */